{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
		<p>Выбирите изображение</p>
            <div class="col-8">
                <form action='' method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <p><input type='file' name='file'>
                        </p>
                    </div>
                    <input type='submit' value={{ main_text }} class="btn btn-primary">
                </form>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
{% endblock %}